@model ProductDetaliesVM
<h1>Name: @Model.Name</h1>
<h1>Description: @Model.Description</h1>
<h1>Price: @Model.Price</h1>

@foreach (Image item in Model.Images)
{
    <img style="width: 200px" src="~/assets/imgs/shop/@item.ImageName" alt="Product Image" />
}
